<nav class="main-navigation">

    <div class="navbar-header animated fadeInUp">
        <a class="navbar-brand" href="#">Logo Area</a>
    </div>

    <ul class="nav-list">
        <li class="nav-list-item">
            <a href="#" class="nav-link">Home</a>
        </li>
        <li class="nav-list-item">
            <a href="#" class="nav-link">Lashes</a>
        </li>
        <li class="nav-list-item">
            <a href="#" class="nav-link">Products</a>
        </li>
        <li class="nav-list-item">
            <a href="/shopping-cart" class="nav-link"> <i class="fa fa-shopping-cart"></i> Shopping Cart
                <span class="badge">{{session.cart.totalQty}}</span></a>
        </li>
        <li class="nav-list-item dropdown">

            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown navRight" role="button"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Account
            </a>

            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                {{# if login}}
                <a class="dropdown-item" href="/user/profile">User Account</a>
                <a class="dropdown-item" href="/user/logout">Logout</a>
                <div class="dropdown-divider"></div>
                {{else}}
                <a class="dropdown-item" href="/user/signup">Sign Up</a>
                <a class="dropdown-item" href="/user/signin">Sign In</a>
                {{/if}}
            </div>
        </li>
    </ul>

</nav>